In [ ]:
##..STRING..##

1. Write a program to reverse a string.

In [1]:
str = 'abcd'
str[::-1]

'dcba'

2. Check if a string is a palindrome.

In [5]:
str = input('enter the stirng: ')
rev = str[::-1]
if str == rev:
    print(f'string {str} is palindrom')
else: 
    print ('not plindrome')

enter the stirng:  anna

string anna is palindrom

3. Convert a string to uppercase.

In [6]:
str = input('enter the stirng: ')
str.upper()

enter the stirng:  abcd

'ABCD'

4. Convert a string to lowercase.

In [7]:
str = input('enter the stirng: ')
str.lower()

enter the stirng:  ABCD

'abcd'

5. Count the number of vowels in a string.

In [8]:
count = 0
str = input('enter the stirng: ')
str.lower()
for i in str:
    if (i == 'a' or i == 'e'or i == 'i' or i == 'o' or i == 'u'):
        count += 1
print (count)

enter the stirng:  ajay

2

6. Count the number of consonants in a string.

In [10]:
count = 0
str = input('enter the stirng: ')
vowel = 'aeiou'
str.lower()
for i in str:
    if (i not in vowel):
        count += 1
print (count)

enter the stirng:  consonants

7

7. Remove all whitespaces from a string.

In [18]:
#case 1:

str = input('enter the stirng: ')
str.replace(' ','')

##case 2:
#for i in str:
 #   if (i == ' '):
  #      continue
   # print(i,end = '')

enter the stirng:  hi sir how are you

'hisirhowareyou'

8. Find the length of a string without using the `len()` function.

In [19]:
str = input('enter the stirng: ')
length = 0
for i in str:
    length += 1
print(length)

enter the stirng:  this is length

14

9. Check if a string contains a specific word.

In [22]:
str = input('enter the stirng: ')
word =  input('enter the word: ')
if word in str:
    print(f'the word {word} is inside the string')
else :
    print('Not inside string')

enter the stirng:  hello everyone how are you all
enter the word:  all

the word all is inside the string

10. Replace a word in a string with another word.

In [26]:
str = 'this is for the replace string '
str.replace('replace','change')

'this is for the change string '

11. Count the occurrences of a word in a string.

In [31]:
str = input('enter the stirng: ')
word =  input('enter the word: ')
count = 0
for i in str :
    if i == word :
        count += 1
print(count)

enter the stirng:  ajaay
enter the word:  a

3

12. Find the first occurrence of a word in a string.

In [37]:
str = input('enter the stirng: ')
word =  input('enter the word: ')
pos = str.index(word)
print(f'the first occurrence is in the index position {pos}')

enter the stirng:  hello
enter the word:  l

the first occurrence is in the index position 2

13. Find the last occurrence of a word in a string.

In [52]:
str= input('enter the the string: ')
word=input('enter the word: ')
for i in range(len(str_1)-1,-1,-1):       #reverse the loop for checking from last
  if str[i] == word :                 #if the word is same print value of i (i is the index position)
    print(f'The last occurence of word in the index {i}')
    break

enter the the string:  ajay
enter the word:  a

The last occurence of word in the index 2

14. Split a string into a list of words.

In [53]:
str= input('enter the the string: ')
str.split()

enter the the string:  this is for the split

['this', 'is', 'for', 'the', 'split']

15. Join a list of words into a string.

In [55]:
str = ['ajay','atitya','arjun','aryan','aman']
','.join(str)

'ajay,atitya,arjun,aryan,aman'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [57]:
str= input('enter the the string: ')
str.replace(' ',',')

enter the the string:  this is for separation

'this,is,for,separation'

17. Check if a string starts with a specific word or phrase.

In [59]:
str= input('enter the the string: ')
word=input('enter the word: ')

str.startswith(word)

enter the the string:  hi there how are you
enter the word:  hi

True

18. Check if a string ends with a specific word or phrase.

In [61]:
str= input('enter the the string: ')
word=input('enter the word: ')

str.endswith(word)

enter the the string:  hi there how are you
enter the word:  you

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [62]:
str= "hello world"
str.title()

'Hello World'

20. Find the longest word in a string.

In [70]:
str = input('enter the string: ')
l = str.split()
print(max(l,key = len))

enter the string:  where are you

where

21. Find the shortest word in a string.

In [71]:
str = input('enter the string: ')
l = str.split()
print(min(l,key = len))

enter the string:  hi where were you

hi

22. Reverse the order of words in a string.

In [ ]:
str = input('enter the string :')
str[::-1]

23. Check if a string is alphanumeric.

In [74]:
str = input('enter the string :')
str.isalnum()

enter the string : z1

True

In [ ]:
24. Extract all digits from a string.

In [83]:
str = input('enter the string :')
for i in str:
    if i.isdigit():
        print(i,end='')

enter the string : ajay1223

1223

25. Extract all alphabets from a string.

In [86]:
str = input('enter the string :')
for i in str:
    if i.isalpha():
        print(i,end='')

enter the string : ajay112233

ajay

26. Count the number of uppercase letters in a string.

In [90]:
str = input('enter the string :')
count = 0
for i in str:
    if 'A'<=i<='Z':
        count += 1
print(count)

enter the string : Hi CODE

5

27. Count the number of lowercase letters in a string

In [91]:
str = input('enter the string :')
count = 0
for i in str:
    if 'a'<=i<='z':
        count += 1
print(count)

enter the string : Hi this is CODE

7

28. Swap the case of each character in a string.

In [92]:
str = input('enter the string :')
str.swapcase()

enter the string : hi CODER

'HI coder'

29. Remove a specific word from a string.

In [96]:
str = 'hi people'
str.replace('people','')

'hi '

30. Check if a string is a valid email address.

In [103]:
str = input('enter the string :')
a = '@gmail.com'
if str.endswith(a) and str.count(a) ==1:
    print('valid Email')
else:
    print('Invalid Email')

enter the string : ajay@gmail.com

valid Email

31. Extract the username from an email address string.

In [116]:
str = input('enter the string :')
str [:str.find('@')]

enter the string : abc@gmail.com

'abc'

32. Extract the domain name from an email address string.

In [120]:
str = input('enter the string :')
str [str.find('@'):len(str)]

enter the string : abc@gmail.com

'@gmail.com'

33. Replace multiple spaces in a string with a single space.

In [134]:
str = input('enter the string :')

' '.join(str.split())

enter the string : how   are you

'how are you'

34. Check if a string is a valid URL.

In [143]:


str = input('enter the string :')
a = 'http://'
b = 'https://'
if (str.startswith(a) or str.startswith(b)) and (str.count(a) ==1 or str.count(a) ==1):
    print('valid URL')
else:
    print('Invalid URL')

enter the string : http://google.com

valid URL

35. Extract the protocol (http or https) from a URL string.

In [130]:
str = input('enter the string :')
str [:str.find(':')]

enter the string : http://google.com

'http'

In [131]:
str = input('enter the string :')
str [:str.find(':')]

enter the string :  https://google.com

' https'

36. Find the frequency of each character in a string.

In [147]:
str = input('enter the string :')
fre = {}
count = 0
for i in str :
    if i not in fre:
        fre[i]=count +1
    else:
        fre[i] += 1
print(fre)

enter the string : heeloo

{'h': 1, 'e': 2, 'l': 1, 'o': 2}

In [148]:
str = input('enter the string :')
fre = {}
count = 0
for i in str :
    if i not in fre:
        fre[i]=count +1
    else:
        fre[i] += 1
print(fre)

enter the string : hola amigo

{'h': 1, 'o': 2, 'l': 1, 'a': 2, ' ': 1, 'm': 1, 'i': 1, 'g': 1}

37. Remove all punctuation from a string.

In [153]:
str = input('entre the string')
p = "!@#$%^&*()))))_+{}[]:;<>"
str1 = ""
for i in str:
    if i not in p:
        str1 += i
print(str1)

entre the string ajay<>$%

ajay

38. Check if a string contains only digits.

In [154]:
str = input('entre the string')
str.isdigit()

entre the string 56213

True

In [155]:
str = input('entre the string')
str.isdigit()

entre the string djfhal21

False

39. Check if a string contains only alphabets.

In [157]:
str = input('entre the string')
str.isalpha()

entre the string ajay is working

False

In [158]:
str = input('entre the string')
str.isalpha()

entre the string ajay

True

40. Convert a string to a list of characters.

In [159]:
str = input('entre the string:')
l =[]
for i in str:
    l.append(i)
print(l)

entre the string: good day to all

['g', 'o', 'o', 'd', ' ', 'd', 'a', 'y', ' ', 't', 'o', ' ', 'a', 'l', 'l']

41. Check if two strings are anagrams.

In [165]:
str1=input("enter a first word")
str2=input("enter another word")
l1=[]
l2=[]
for i in str1:
  l1.append(i)
for j in str2:
  l2.append(j)
if l1.sort() == l2.sort() and len(l1)==len(l2): 
  print(f"{str1} and {str2} are anagrams")
else:
  print(f"{str1} and {str2} are not anagrams")

enter a first word tap
enter another word pat

tap and pat are anagrams

42. Encode a string using a Caesar cipher.

In [4]:
str = input("enter a  word")
str1 = ''
for i in str:
    a = ord(i)+3 #shift right the value of characters by 3
    str1 += chr(a) #concate character in empty string
print(str1)

enter a  word hello

khoor

43.Decode a Caesar cipher encoded string.

In [5]:
str = input("enter a  word")
str1 = ''
for i in str:
    a = ord(i)-3 #shift left the value of characters by 3 
    str1 += chr(a) #concate character in empty string
print(str1)

enter a  word khoor

hello

44. Find the most frequent word in a string.

In [15]:
str=input("Enter the string ")
l1=str.split()
x={}
count=0
for i in l1:
  if i in x:
    x[i]+=1
  else:
    x[i]=1

for j in x:     
  if x[j]>count:
    count=x[j]
    print(f"the most frequent word is {j}")

Enter the string  hi hi sir ji

the most frequent word is hi

45. Find all unique words in a string.

In [19]:
str=input("Enter the string ")
l1 = []
for i in str :
    l1.append(i)
x = list(set(l1))
print(''.join(x))

Enter the string  ajay

ayj

46. Count the number of syllables in a string.

In [ ]:
 question to ask

47. Check if a string contains any special characters.

In [24]:
str = input("Enter a string: ")
sp_char="!@#$%^&*()_+"
s =''
for i in str:
    if i in sp_char:
        s += i
print(s)

Enter a string:  aj@

@

In [26]:
str = input("Enter a string: ")
sp_char="!@#$%^&*()_+"
s =''
for i in str:
    if i in sp_char:
        s += i
print(s, end = ' ')

Enter a string:  ajay have $$ cash

$$

48. Remove the nth word from a string.

In [12]:
str = input("Enter a string: ")
n = int(input("enter the index: "))
l = str.split()
l.pop(n)
print(' '.join(l))

Enter a string:  hi sir
enter the index:  0

sir

49.Insert a word at the nth position in a string.

In [43]:
str = input("Enter a string: ")
n = int(input("Enter index: "))
word = input('enter the word: ')
l = str.split()
l.insert(n,word)
print(' '.join(l))

Enter a string:  i am
Enter index:  2
enter the word:  ajay

i am ajay

50. Convert a CSV string to a list of lists.

In [ ]:
quetion to ask

In [1]:
##..LIST..##

1. Create a list with integers from 1 to 10.

In [2]:
l = []
for i in range (1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [4]:
l = [1,2,3,4,5]
length = 0
for i in l:
    length += 1
length

5

3. Append an element to the end of a list.

In [6]:
l = [1,2,3,4,5]
l.append(6)
l

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [7]:
l = [1,2,3,4,5]
l.insert(2,8) #index 2 insert 8
l

[1, 2, 8, 3, 4, 5]

5. Remove an element from a list by its value.

In [9]:
l = [1,2,3,4,5]
l.remove(5)
l

[1, 2, 3, 4]

6. Remove an element from a list by its index.

In [11]:
l = [1,2,3,4,5]
index = l.index(4)
l.remove(index+1) # add for due to 0 indexing
l

[1, 2, 3, 5]

7. Check if an element exists in a list.

In [12]:
l = [1,2,3,4,5]
4 in l

True

In [13]:
l = [1,2,3,4,5]
6 in l

False

8. Find the index of the first occurrence of an element in a list.

In [15]:
l = [1,3,2,3,4,3,5]
print(l.index(3))

1

9. Count the occurrences of an element in a list.

In [18]:
l = [1,3,2,3,3,4,3,5]
l.count(3)

4

10. Reverse the order of elements in a list.

In [20]:
l = [1,2,3,4,5]
l[::-1]

[5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [22]:
l = [1,5,4,6,8,5,3]
l.sort()
l

[1, 3, 4, 5, 5, 6, 8]

12. Sort a list in descending order.

In [24]:
l = [1,5,4,6,8,5,3]
l.sort() #sort in ascending
l[::-1] # reverse the sorted list

[8, 6, 5, 5, 4, 3, 1]

13. Create a list of even numbers from 1 to 20.

In [28]:
l = [ ]
for i in range(0,21,2):
    l.append(i)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [29]:
l = [ ]
for i in range(1,21,2):
    l.append(i)
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [31]:
l = [1,5,4,6,8,5,3]
sum(l) # sum all the elements -> 1+5+4+6+8+5+3

32

16. Find the maximum value in a list.

In [32]:
l = [1,5,4,6,8,5,3]
max(l)

8

17. Find the minimum value in a list.

In [33]:
l = [1,5,4,6,8,5,3]
min(l)

1

18. Create a list of squares of numbers from 1 to 10.

In [34]:
l = []
for i in range(0,11):
    l.append(i**2)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [7]:
## yet to be solve
import random
li = random.sample(range(1, 10), 5)
print(li)

[8, 2, 4, 7, 5]

20. Remove duplicates from a list.

In [41]:
l = [1,5,4,6,8,3,5,3]
l = list(set(l))
l

[1, 3, 4, 5, 6, 8]

21. Find the common elements between two lists.

In [1]:
l1 = [1,2,3,4]
l2 = [3,4,5]
common=[]
for i in l1:
    for j in l2:
        if i == j :
            common.append(j)
common

[3, 4]

22. Find the difference between two lists.

In [10]:
l1 = [1,2,3,4]
l2 = [3,4,5,8]
diff = list(set(l1)-set(l2))
diff

[1, 2]

23. Merge two lists.

In [11]:
l1 = [1,2,3,4]
l2 = [3,4,5,8]
l1.extend(l2)
l1

[1, 2, 3, 4, 3, 4, 5, 8]

In [ ]:
## TO BE CONRINUED