In [ ]:
##..STRING..##

1. Write a program to reverse a string.

In [1]:
str = 'abcd'
str[::-1]

'dcba'

2. Check if a string is a palindrome.

In [5]:
str = input('enter the stirng: ')
rev = str[::-1]
if str == rev:
    print(f'string {str} is palindrom')
else: 
    print ('not plindrome')

enter the stirng:  anna

string anna is palindrom

3. Convert a string to uppercase.

In [6]:
str = input('enter the stirng: ')
str.upper()

enter the stirng:  abcd

'ABCD'

4. Convert a string to lowercase.

In [7]:
str = input('enter the stirng: ')
str.lower()

enter the stirng:  ABCD

'abcd'

5. Count the number of vowels in a string.

In [8]:
count = 0
str = input('enter the stirng: ')
str.lower()
for i in str:
    if (i == 'a' or i == 'e'or i == 'i' or i == 'o' or i == 'u'):
        count += 1
print (count)

enter the stirng:  ajay

2

6. Count the number of consonants in a string.

In [10]:
count = 0
str = input('enter the stirng: ')
vowel = 'aeiou'
str.lower()
for i in str:
    if (i not in vowel):
        count += 1
print (count)

enter the stirng:  consonants

7

7. Remove all whitespaces from a string.

In [18]:
#case 1:

str = input('enter the stirng: ')
str.replace(' ','')

##case 2:
#for i in str:
 #   if (i == ' '):
  #      continue
   # print(i,end = '')

enter the stirng:  hi sir how are you

'hisirhowareyou'

8. Find the length of a string without using the `len()` function.

In [19]:
str = input('enter the stirng: ')
length = 0
for i in str:
    length += 1
print(length)

enter the stirng:  this is length

14

9. Check if a string contains a specific word.

In [22]:
str = input('enter the stirng: ')
word =  input('enter the word: ')
if word in str:
    print(f'the word {word} is inside the string')
else :
    print('Not inside string')

enter the stirng:  hello everyone how are you all
enter the word:  all

the word all is inside the string

10. Replace a word in a string with another word.

In [26]:
str = 'this is for the replace string '
str.replace('replace','change')

'this is for the change string '

11. Count the occurrences of a word in a string.

In [31]:
str = input('enter the stirng: ')
word =  input('enter the word: ')
count = 0
for i in str :
    if i == word :
        count += 1
print(count)

enter the stirng:  ajaay
enter the word:  a

3

12. Find the first occurrence of a word in a string.

In [37]:
str = input('enter the stirng: ')
word =  input('enter the word: ')
pos = str.index(word)
print(f'the first occurrence is in the index position {pos}')

enter the stirng:  hello
enter the word:  l

the first occurrence is in the index position 2

13. Find the last occurrence of a word in a string.

In [52]:
str= input('enter the the string: ')
word=input('enter the word: ')
for i in range(len(str_1)-1,-1,-1):       #reverse the loop for checking from last
  if str[i] == word :                 #if the word is same print value of i (i is the index position)
    print(f'The last occurence of word in the index {i}')
    break

enter the the string:  ajay
enter the word:  a

The last occurence of word in the index 2

14. Split a string into a list of words.

In [53]:
str= input('enter the the string: ')
str.split()

enter the the string:  this is for the split

['this', 'is', 'for', 'the', 'split']

15. Join a list of words into a string.

In [55]:
str = ['ajay','atitya','arjun','aryan','aman']
','.join(str)

'ajay,atitya,arjun,aryan,aman'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [57]:
str= input('enter the the string: ')
str.replace(' ',',')

enter the the string:  this is for separation

'this,is,for,separation'

17. Check if a string starts with a specific word or phrase.

In [59]:
str= input('enter the the string: ')
word=input('enter the word: ')

str.startswith(word)

enter the the string:  hi there how are you
enter the word:  hi

True

18. Check if a string ends with a specific word or phrase.

In [61]:
str= input('enter the the string: ')
word=input('enter the word: ')

str.endswith(word)

enter the the string:  hi there how are you
enter the word:  you

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [62]:
str= "hello world"
str.title()

'Hello World'

20. Find the longest word in a string.

In [70]:
str = input('enter the string: ')
l = str.split()
print(max(l,key = len))

enter the string:  where are you

where

21. Find the shortest word in a string.

In [71]:
str = input('enter the string: ')
l = str.split()
print(min(l,key = len))

enter the string:  hi where were you

hi

22. Reverse the order of words in a string.

In [ ]:
str = input('enter the string :')
str[::-1]

23. Check if a string is alphanumeric.

In [74]:
str = input('enter the string :')
str.isalnum()

enter the string : z1

True

In [ ]:
24. Extract all digits from a string.

In [83]:
str = input('enter the string :')
for i in str:
    if i.isdigit():
        print(i,end='')

enter the string : ajay1223

1223

25. Extract all alphabets from a string.

In [86]:
str = input('enter the string :')
for i in str:
    if i.isalpha():
        print(i,end='')

enter the string : ajay112233

ajay

26. Count the number of uppercase letters in a string.

In [90]:
str = input('enter the string :')
count = 0
for i in str:
    if 'A'<=i<='Z':
        count += 1
print(count)

enter the string : Hi CODE

5

27. Count the number of lowercase letters in a string

In [91]:
str = input('enter the string :')
count = 0
for i in str:
    if 'a'<=i<='z':
        count += 1
print(count)

enter the string : Hi this is CODE

7

28. Swap the case of each character in a string.

In [92]:
str = input('enter the string :')
str.swapcase()

enter the string : hi CODER

'HI coder'

29. Remove a specific word from a string.

In [96]:
str = 'hi people'
str.replace('people','')

'hi '

30. Check if a string is a valid email address.

In [103]:
str = input('enter the string :')
a = '@gmail.com'
if str.endswith(a) and str.count(a) ==1:
    print('valid Email')
else:
    print('Invalid Email')

enter the string : ajay@gmail.com

valid Email

31. Extract the username from an email address string.

In [116]:
str = input('enter the string :')
str [:str.find('@')]

enter the string : abc@gmail.com

'abc'

32. Extract the domain name from an email address string.

In [120]:
str = input('enter the string :')
str [str.find('@'):len(str)]

enter the string : abc@gmail.com

'@gmail.com'

33. Replace multiple spaces in a string with a single space.

In [134]:
str = input('enter the string :')

' '.join(str.split())

enter the string : how   are you

'how are you'

34. Check if a string is a valid URL.

In [143]:


str = input('enter the string :')
a = 'http://'
b = 'https://'
if (str.startswith(a) or str.startswith(b)) and (str.count(a) ==1 or str.count(a) ==1):
    print('valid URL')
else:
    print('Invalid URL')

enter the string : http://google.com

valid URL

35. Extract the protocol (http or https) from a URL string.

In [130]:
str = input('enter the string :')
str [:str.find(':')]

enter the string : http://google.com

'http'

In [131]:
str = input('enter the string :')
str [:str.find(':')]

enter the string :  https://google.com

' https'

36. Find the frequency of each character in a string.

In [147]:
str = input('enter the string :')
fre = {}
count = 0
for i in str :
    if i not in fre:
        fre[i]=count +1
    else:
        fre[i] += 1
print(fre)

enter the string : heeloo

{'h': 1, 'e': 2, 'l': 1, 'o': 2}

In [148]:
str = input('enter the string :')
fre = {}
count = 0
for i in str :
    if i not in fre:
        fre[i]=count +1
    else:
        fre[i] += 1
print(fre)

enter the string : hola amigo

{'h': 1, 'o': 2, 'l': 1, 'a': 2, ' ': 1, 'm': 1, 'i': 1, 'g': 1}

37. Remove all punctuation from a string.

In [153]:
str = input('entre the string')
p = "!@#$%^&*()))))_+{}[]:;<>"
str1 = ""
for i in str:
    if i not in p:
        str1 += i
print(str1)

entre the string ajay<>$%

ajay

38. Check if a string contains only digits.

In [154]:
str = input('entre the string')
str.isdigit()

entre the string 56213

True

In [155]:
str = input('entre the string')
str.isdigit()

entre the string djfhal21

False

39. Check if a string contains only alphabets.

In [157]:
str = input('entre the string')
str.isalpha()

entre the string ajay is working

False

In [158]:
str = input('entre the string')
str.isalpha()

entre the string ajay

True

40. Convert a string to a list of characters.

In [159]:
str = input('entre the string:')
l =[]
for i in str:
    l.append(i)
print(l)

entre the string: good day to all

['g', 'o', 'o', 'd', ' ', 'd', 'a', 'y', ' ', 't', 'o', ' ', 'a', 'l', 'l']

41. Check if two strings are anagrams.

In [165]:
str1=input("enter a first word")
str2=input("enter another word")
l1=[]
l2=[]
for i in str1:
  l1.append(i)
for j in str2:
  l2.append(j)
if l1.sort() == l2.sort() and len(l1)==len(l2): 
  print(f"{str1} and {str2} are anagrams")
else:
  print(f"{str1} and {str2} are not anagrams")

enter a first word tap
enter another word pat

tap and pat are anagrams

42. Encode a string using a Caesar cipher.

In [4]:
str = input("enter a  word")
str1 = ''
for i in str:
    a = ord(i)+3 #shift right the value of characters by 3
    str1 += chr(a) #concate character in empty string
print(str1)

enter a  word hello

khoor

43.Decode a Caesar cipher encoded string.

In [5]:
str = input("enter a  word")
str1 = ''
for i in str:
    a = ord(i)-3 #shift left the value of characters by 3 
    str1 += chr(a) #concate character in empty string
print(str1)

enter a  word khoor

hello

44. Find the most frequent word in a string.

In [15]:
str=input("Enter the string ")
l1=str.split()
x={}
count=0
for i in l1:
  if i in x:
    x[i]+=1
  else:
    x[i]=1

for j in x:     
  if x[j]>count:
    count=x[j]
    print(f"the most frequent word is {j}")

Enter the string  hi hi sir ji

the most frequent word is hi

45. Find all unique words in a string.

In [19]:
str=input("Enter the string ")
l1 = []
for i in str :
    l1.append(i)
x = list(set(l1))
print(''.join(x))

Enter the string  ajay

ayj

46. Count the number of syllables in a string.

In [ ]:
 #question to ask

47. Check if a string contains any special characters.

In [24]:
str = input("Enter a string: ")
sp_char="!@#$%^&*()_+"
s =''
for i in str:
    if i in sp_char:
        s += i
print(s)

Enter a string:  aj@

@

In [26]:
str = input("Enter a string: ")
sp_char="!@#$%^&*()_+"
s =''
for i in str:
    if i in sp_char:
        s += i
print(s, end = ' ')

Enter a string:  ajay have $$ cash

$$

48. Remove the nth word from a string.

In [12]:
str = input("Enter a string: ")
n = int(input("enter the index: "))
l = str.split()
l.pop(n)
print(' '.join(l))

Enter a string:  hi sir
enter the index:  0

sir

49.Insert a word at the nth position in a string.

In [43]:
str = input("Enter a string: ")
n = int(input("Enter index: "))
word = input('enter the word: ')
l = str.split()
l.insert(n,word)
print(' '.join(l))

Enter a string:  i am
Enter index:  2
enter the word:  ajay

i am ajay

50. Convert a CSV string to a list of lists.

In [49]:
a = open('text.csv','r')
print(list(a))
a.close()

[',text\n', '0,"The Quiet Pond\n', 'The pond, a mirror, calm and deep,\n', 'Reflects the sky where secrets sleep.\n', 'A gentle breeze begins to sway,\n', 'The leaves on branches dance and play.\n', 'The sun descends, a golden hue,\n', 'Painting the pond, a vibrant blue.\n', 'The stars emerge, a silent light,\n', 'In this serene and peaceful night."\n']

In [1]:
import pandas as pd 

text = ['''The Quiet Pond
The pond, a mirror, calm and deep,
Reflects the sky where secrets sleep.
A gentle breeze begins to sway,
The leaves on branches dance and play.
The sun descends, a golden hue,
Painting the pond, a vibrant blue.
The stars emerge, a silent light,
In this serene and peaceful night.''']

df = pd.DataFrame({"text":text})
df.to_csv("text.csv")

x=[]
a=open("text.csv")
f= a.read()
b=str(f).split()
for i in b:
  x.append([i])
print(x)
a.close()

[[',text'], ['0,"The'], ['Quiet'], ['Pond'], ['The'], ['pond,'], ['a'], ['mirror,'], ['calm'], ['and'], ['deep,'], ['Reflects'], ['the'], ['sky'], ['where'], ['secrets'], ['sleep.'], ['A'], ['gentle'], ['breeze'], ['begins'], ['to'], ['sway,'], ['The'], ['leaves'], ['on'], ['branches'], ['dance'], ['and'], ['play.'], ['The'], ['sun'], ['descends,'], ['a'], ['golden'], ['hue,'], ['Painting'], ['the'], ['pond,'], ['a'], ['vibrant'], ['blue.'], ['The'], ['stars'], ['emerge,'], ['a'], ['silent'], ['light,'], ['In'], ['this'], ['serene'], ['and'], ['peaceful'], ['night."']]

In [ ]:
##..LIST..##

1. Create a list with integers from 1 to 10.

In [2]:
l = []
for i in range (1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [4]:
l = [1,2,3,4,5]
length = 0
for i in l:
    length += 1
length

5

3. Append an element to the end of a list.

In [6]:
l = [1,2,3,4,5]
l.append(6)
l

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [7]:
l = [1,2,3,4,5]
l.insert(2,8) #index 2 insert 8
l

[1, 2, 8, 3, 4, 5]

5. Remove an element from a list by its value.

In [9]:
l = [1,2,3,4,5]
l.remove(5)
l

[1, 2, 3, 4]

6. Remove an element from a list by its index.

In [11]:
l = [1,2,3,4,5]
index = l.index(4)
l.remove(index+1) # add for due to 0 indexing
l

[1, 2, 3, 5]

7. Check if an element exists in a list.

In [12]:
l = [1,2,3,4,5]
4 in l

True

In [13]:
l = [1,2,3,4,5]
6 in l

False

8. Find the index of the first occurrence of an element in a list.

In [15]:
l = [1,3,2,3,4,3,5]
print(l.index(3))

1

9. Count the occurrences of an element in a list.

In [18]:
l = [1,3,2,3,3,4,3,5]
l.count(3)

4

10. Reverse the order of elements in a list.

In [20]:
l = [1,2,3,4,5]
l[::-1]

[5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [22]:
l = [1,5,4,6,8,5,3]
l.sort()
l

[1, 3, 4, 5, 5, 6, 8]

12. Sort a list in descending order.

In [24]:
l = [1,5,4,6,8,5,3]
l.sort() #sort in ascending
l[::-1] # reverse the sorted list

[8, 6, 5, 5, 4, 3, 1]

13. Create a list of even numbers from 1 to 20.

In [28]:
l = [ ]
for i in range(0,21,2):
    l.append(i)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [29]:
l = [ ]
for i in range(1,21,2):
    l.append(i)
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [31]:
l = [1,5,4,6,8,5,3]
sum(l) # sum all the elements -> 1+5+4+6+8+5+3

32

16. Find the maximum value in a list.

In [32]:
l = [1,5,4,6,8,5,3]
max(l)

8

17. Find the minimum value in a list.

In [33]:
l = [1,5,4,6,8,5,3]
min(l)

1

18. Create a list of squares of numbers from 1 to 10.

In [34]:
l = []
for i in range(0,11):
    l.append(i**2)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [7]:
## yet to be solve
import random
li = random.sample(range(1, 10), 5)
print(li)

[8, 2, 4, 7, 5]

20. Remove duplicates from a list.

In [41]:
l = [1,5,4,6,8,3,5,3]
l = list(set(l))
l

[1, 3, 4, 5, 6, 8]

21. Find the common elements between two lists.

In [1]:
l1 = [1,2,3,4]
l2 = [3,4,5]
common=[]
for i in l1:
    for j in l2:
        if i == j :
            common.append(j)
common

[3, 4]

22. Find the difference between two lists.

In [10]:
l1 = [1,2,3,4]
l2 = [3,4,5,8]
diff = list(set(l1)-set(l2))
diff

[1, 2]

23. Merge two lists.

In [11]:
l1 = [1,2,3,4]
l2 = [3,4,5,8]
l1.extend(l2)
l1

[1, 2, 3, 4, 3, 4, 5, 8]

In [ ]:
## TO BE CONRINUED

In [ ]:
#24. Multiply all elements in a list by 2.

In [3]:
l2 = [3,4,5,8]
l=[]
for i in l2:
    l.append(i*2)

l

[6, 8, 10, 16]

In [ ]:
#25. Filter out all even numbers from a list.

In [34]:
l2 = [3,4,5,8]
l =[]
for i in l2:
    if i%2 == 0:
        l.append(i)
        
l

[4, 8]

In [ ]:
#26. Convert a list of strings to a list of integers.

In [11]:
l2 = ['3','4','5','8']
l =[]
for i in l2:
    l.append(int(i))
l

[3, 4, 5, 8]

In [ ]:
#27. Convert a list of integers to a list of strings.

In [12]:
l = [3, 4, 5, 8] 
l1 = []
for i in l:
    l1.append(str(i))
l1

['3', '4', '5', '8']

In [ ]:
#28. Flatten a nested list.

In [16]:
l = [[1, 2], [3, 4], [5, 6]]
fl = []
for i in range(0,len(l)):
    for j in range(0,2):
        fl.append(l[i][j])
fl

[1, 2, 3, 4, 5, 6]

In [ ]:
#29.Create a list of the first 10 Fibonacci numbers.

In [17]:
l = [0,1]
for i in range(1,11):
    l.append(l[i]+l[i-1]) 
l

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
#30. Check if a list is sorted.

In [26]:
l = [3, 4, 5]
l1=[]
s = set(l)
for i in s:
    l1.append(i)
if l1 == l:
    print(f'list {l} is sorted')

list [3, 4, 5] is sorted

In [ ]:
#31. Rotate a list to the left by `n` positions.

In [36]:
l = [1,2,3,4,5]
n=int(input("enter the number of rotation: "))
for i in range(0,n):
  l.insert(0,l[-1])
  l.pop(-1)
print(l)

enter the number of rotation:  2

[4, 5, 1, 2, 3]

In [ ]:
#32. Rotate a list to the right by `n` positions.

In [35]:
l = [1,2,3,4,5]
n=int(input("enter the number of rotation: "))
for i in range(0,n):
  l.append(l[0])
  l.pop(0)
print(l)

enter the number of rotation:  2

[3, 4, 5, 1, 2]

In [ ]:
#33. Create a list of prime numbers up to 50.

In [41]:
l=[]
for i in range(2,51):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    l.append(i)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [47]:
#34. Split a list into chunks of size `n`.

In [57]:
l=[1,2,3,4,5,6,7,8]
x=[]
b=[]
n=int(input("enter the size of chunk : "))
for i in l:
  b.append(i)
  if len(b)==n:
    x.append(b)
    b=[]
if b:
  x.append(b)
print(x)

enter the size of chunk :  2

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [ ]:
#35. Find the second largest number in a list.

In [4]:
l=[1,12,3,14,5,16,7,18]
l.sort()
print(f'the second largenst in list is :{l[-2]}')

the second largenst in list is :16

In [ ]:
#36. Replace every element in a list with its square.

In [9]:
l = [1,2,3,4,5]

for i in range(0,len(l)):
    l.append(l[0]**2)
    l.pop(0)
print(f'squered list {l}')

squered list [1, 4, 9, 16, 25]

In [ ]:
#37. Convert a list to a dictionary where list elements become keys and their
#indices become values.

In [11]:
l = ['ajay','arjun','aryan','aditya']
d = {}
for i in l:
    d[l.index(i)] = i
d

{0: 'ajay', 1: 'arjun', 2: 'aryan', 3: 'aditya'}

In [ ]:
#38. Shuffle the elements of a list randomly.

In [13]:
import random
l = [1,2,3,4,5]
random.shuffle(l)
l

[5, 4, 1, 3, 2]

In [ ]:
#39. Create a list of the first 10 factorial numbers.

In [15]:
def fac(n):
    if n == 0 or n ==1:return 1
    else: return n*fac(n-1)

l1 = []
for i in range(0,10):
    l1.append(fac(i))
l1

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
#40. Check if two lists have at least one element in common.

In [19]:
l1 = [1,2,3,4]
l2 = [4,5,6,7]
comm = set(l1).intersection(set(l2))
list(comm)

[4]

In [ ]:
#41. Remove all elements from a list.

In [20]:
l1 = [1,2,3,4]
l1.clear()
l1

[]

In [ ]:
#42. Replace negative numbers in a list with 0.

In [23]:
l1 = [1,2,-3,-4]
for i in l1:
    if i <0:
        l1[l1.index(i)]= 0
        
l1

[1, 2, 0, 0]

In [ ]:
#43. Convert a string into a list of words.

In [25]:
str = input("enter the string: ")
a = str.split()
a

enter the string:  hi hello

['hi', 'hello']

In [ ]:
#44. Convert a list of words into a string.

In [3]:
l1 = ['1','2','sam','mohan']
l=' '.join(l1)
l

'1 2 sam mohan'

In [ ]:
#45. Create a list of the first `n` powers of 2.

In [7]:
l = []
n = int (input('enter the no. :'))
for i in range(0,n+1):
         l.append(2**i)
l

enter the no. : 5

[1, 2, 4, 8, 16, 32]

In [ ]:
#46. Find the longest string in a list of strings.

In [8]:
l = ['rainbow','sky','rain','water']
str = ""
for i in l:
    if len(i)> len(str):
        str = i
str

'rainbow'

In [ ]:
#47. Find the shortest string in a list of strings.

In [9]:
l = ['rainbow','sky','rain','water']
str = l[0]
for i in l:
    if len(i)< len(str):
        str = i
str

'sky'

In [ ]:
#48. Create a list of the first `n` triangular numbers.

In [11]:
n=int(input("enter a number"))
l=[]
step=0
for i in range(0,n+1):
  step+=i
  l.append(step)
print(l)

enter a number 10

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
#49. Check if a list contains another list as a subsequence.

In [3]:
x=[1,2,3,4,5]
y=[2,4]
for i in y:
  if i in x:
    print("y is subsequence of x")
    break
else:
  print("y is not subsequence of x")

y is subsequence of x

In [ ]:
#50. Swap two elements in a list by their indices.

In [5]:
l = [1,2,3,4]
l[0],l[3] = l[3],l[0]
l

[4, 2, 3, 1]

In [6]:
##.. TUPLE .. ##

In [ ]:
#1. Create a tuple with integers from 1 to 5.

In [9]:
t = ()
for i in range(1,6):
    t += (i,) #tuple add tuple value not int
t

(1, 2, 3, 4, 5)

In [10]:
#2. Access the third element of a tuple.

In [14]:
t = (1, 2, 3, 4, 5)
t[0],t[2]

(1, 3)

In [ ]:
#3. Find the length of a tuple without using the `len()` function.

In [12]:
t = (1, 2, 3, 4, 5)
count = 0
for i in t:
    count += 1
count

5

In [ ]:
#4. Count the occurrences of an element in a tuple.

In [5]:
t = (1,2,3,4,2,2,5)
item = int(input('enter the value: '))
count = 0
for i in t :
    if i == item:
        count += 1
count

enter the value:  2

3

In [6]:
#5. Find the index of the first occurrence of an element in a tuple.

In [7]:
t = (1,2,3,4,2,2,5)
t.index(2)

1

In [ ]:
#6. Check if an element exists in a tuple.

In [8]:
t = (1,2,3,4,2,2,5)
element = int(input('entr the tuple element: '))

element in t

entr the tuple element:  9

False

In [9]:
t = (1,2,3,4,2,2,5)
element = int(input('entr the tuple element: '))

element in t

entr the tuple element:  5

True

In [ ]:
#7. Convert a tuple to a list.

In [10]:
t = (1,2,3,4,2,2,5)
l = list(t)
l

[1, 2, 3, 4, 2, 2, 5]

In [11]:
#8. Convert a list to a tuple.

In [12]:
l =[1, 2, 3, 4, 2, 2, 5]
t = tuple(l)
t

(1, 2, 3, 4, 2, 2, 5)

In [14]:
t = (2,4,6)
a,b,c = t
print(f'a = {a} and b = {b} and c = {c}')

a = 2 and b = 4 and c = 6

In [ ]:
#10. Create a tuple of even numbers from 1 to 10.

In [16]:
t = ()
for i in range(1,11):
    if i%2 == 0:
        t += (i,)
t

(2, 4, 6, 8, 10)

In [17]:
#11. Create a tuple of odd numbers from 1 to 10.

In [18]:
t = ()
for i in range(1,11):
    if i%2 != 0:
        t += (i,)
t

(1, 3, 5, 7, 9)

In [ ]:
#12. Concatenate two tuples.

In [19]:
t = (2, 4, 6, 8, 10)
t1 = (11,12,13,14)
t+t1

(2, 4, 6, 8, 10, 11, 12, 13, 14)

In [20]:
#13. Repeat a tuple three times.

In [21]:
t1 = (11,12,13,14)
t1*3

(11, 12, 13, 14, 11, 12, 13, 14, 11, 12, 13, 14)

In [ ]:
#14. Check if a tuple is empty.

In [22]:
t = ()
if t == ():
    print('empty')
else: print('not empty')

empty

In [23]:
#15. Create a nested tuple.

In [29]:
t = ()
for i in range(0,5):
    t += ((i,i+1),)
print(t,end='')

((0, 1), (1, 2), (2, 3), (3, 4), (4, 5))

In [ ]:
#16. Access the first element of a nested tuple.

In [30]:
t = ((0, 1), (1, 2), (2, 3), (3, 4), (4, 5))
t[0][1]

1

In [ ]:
#17. Create a tuple with a single element.

In [31]:
t = ()
n = int (input('enter the element: '))
t += (n,)
t

enter the element:  5

(5,)

In [32]:
#18. Compare two tuples.

In [33]:
t = (1,2,3)
t1 = (4,5,6)
t == t1

False

In [34]:
#19. Delete a tuple.

In [40]:
t =(1,3,4)
del(t)
print('tuple is deleted')

tuple is deleted

In [41]:
#20. Slice a tuple.

In [43]:
t = (1,2,3,4,5,6)
t[:3],t[3:]

((1, 2, 3), (4, 5, 6))

In [44]:
#21. Find the maximum value in a tuple.

In [45]:
t = (1,2,3,4,5,6)
max(t)

6

In [46]:
#22. Find the minimum value in a tuple.

In [47]:
t = (1,2,3,4,5,6)

min(t)

1

In [48]:
#23. Convert a string to a tuple of characters.

In [49]:
str = "hello"
t = ()
for i in str:
    t += (i,)
t

('h', 'e', 'l', 'l', 'o')

In [ ]:
# OR

In [50]:
str = "hello"
t = tuple(str)
t

('h', 'e', 'l', 'l', 'o')

In [51]:
#24. Convert a tuple of characters to a string.

In [4]:
t = ('h', 'e', 'l', 'l', 'o')
str = ''
for i in t:
    str += i
str

'hello'

In [5]:
#25. Create a tuple from multiple data types.

In [8]:
x = int(input( 'enter the int value: '))
y = float(input( 'enter the float value: '))
z = input( 'enter the string value: ')
b = bool(input('entre the boolean value'))
t = (x,y,z,b)
t

enter the int value:  5
enter the float value:  1.4
enter the string value:  ajay
entre the boolean value True

(5, 1.4, 'ajay', True)

In [9]:
#26. Check if two tuples are identical.

In [10]:
t = (1,2,3)
t1 = (1,2,3)
if t == t1:
    print ('both tuple are identical')

both tuple are identical

In [11]:
#27. Sort the elements of a tuple.

In [5]:
t = (4,6,7,2,3,5,8)
s = set(t)
print(f'tuple {t}')
t = tuple(s)
print(f'sorted tuple {t}')

tuple (4, 6, 7, 2, 3, 5, 8)
sorted tuple (2, 3, 4, 5, 6, 7, 8)

In [11]:
t = (4,6,7,2,3,5,3,8)
l = sorted(t)
tuple(l)
print(f'tuple {t}')
print(f'sorted tuple {l}')

tuple (4, 6, 7, 2, 3, 5, 3, 8)
sorted tuple [2, 3, 3, 4, 5, 6, 7, 8]

In [6]:
#28. Convert a tuple of integers to a tuple of strings.

In [13]:
t = (4,6,7,2,3,5,8)
t1 = ()
for i in t:
    t1 += (str(i),)
t1

('4', '6', '7', '2', '3', '5', '8')

In [14]:
#29. Convert a tuple of strings to a tuple of integers.

In [15]:
t = ('4', '6', '7', '2', '3', '5', '8')
t1 = ()
for i in t:
    t1 += (int(i),)
t1

(4, 6, 7, 2, 3, 5, 8)

In [16]:
#30. Merge two tuples.

In [17]:
t = (1,2,3)
t1 = (4,5,6)
t + t1

(1, 2, 3, 4, 5, 6)

In [18]:
#31. Flatten a nested tuple.

In [22]:
t = (1,2,3,(4,5,6))
t1 = ()
for i in t:
  if isinstance(i,tuple): # isinstance check the (value, type ) and return true or false
    for j in i:
      t1=t1+(j,)
  else:
    t1=t1+(i,)
print(f'tuple {t} and flatten tuple {t1}')

tuple (1, 2, 3, (4, 5, 6)) and flatten tuple (1, 2, 3, 4, 5, 6)

In [23]:
#32. Create a tuple of the first 5 prime numbers.

In [24]:
t =()
for i in range (2,20):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        t += (i,)
    if len(t) ==5:
        break
print(t)

(2, 3, 5, 7, 11)

In [25]:
#33. Check if a tuple is a palindrome.

In [26]:
tuple = (1, 2, 1)
if tuple == tuple[::-1] :
    print(f'tuple {tuple} is palindrome')

tuple (1, 2, 1) is palindrome

In [27]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [28]:
t = ()

for i in range(1,6):
    t += (i**2,)
t

(1, 4, 9, 16, 25)

In [29]:
#35. Filter out all even numbers from a tuple.

In [32]:
t = (2, 3, 3, 4, 5, 7, 8)
for i in t:
    if i%2 ==0:
        print(i,end = ',')

2,4,8,

In [33]:
#36. Multiply all elements in a tuple by 2.

In [37]:
t = (2, 3, 3, 4, 5, 7, 8)
t1 =()
for i in t:
    t1 += (i*2,)
print(f'old tuple {t} \n new tuple {t1}')

old tuple (2, 3, 3, 4, 5, 7, 8)
 new tuple (4, 6, 6, 8, 10, 14, 16)

In [38]:
#37. Create a tuple of random numbers.

In [42]:
import random
t = ()
for i in range(1,10):
    t += (random.randint(0,50),)
t

(23, 18, 48, 42, 47, 17, 8, 38, 12)

In [43]:
#38. Check if a tuple is sorted.

In [1]:
t = (23, 18, 48, 42, 47, 17, 8, 38, 12)
if t == tuple(sorted(t)):
    print('tuple is sorted')
else :
    print('tuple is not sorted')

tuple is not sorted

In [2]:
t1=(1,2,3,4,5,6)
if t1==tuple(sorted(t1)):
  print("tuple is sorted")
else:
  print("tuple is not sorted")

tuple is sorted

In [3]:
#39. Rotate a tuple to the left by `n` positions.

In [5]:
t=(1,2,3,4,5,6,7)
t1=()
n=int(input("enter the number of rotation"))
t1+=(t[n:])
t1+=(t[0:n])
print(t1)

enter the number of rotation 2

(3, 4, 5, 6, 7, 1, 2)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.

In [6]:
t=(1,2,3,4,5,6,7)
t1=()
n=int(input("enter the number of rotation"))
t1+=(t[-n:])
t1+=(t[:-n])
print(t1)

enter the number of rotation 2

(6, 7, 1, 2, 3, 4, 5)

In [ ]:
## TO BE CONTINUED.....

In [ ]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [5]:
t = (0,1)
for i in range(0, 3) :
    t += (t[i]+t[i+1],)
t

(0, 1, 1, 2, 3)

In [ ]:
# 42. Create a tuple from user input.

In [7]:
t = ()
n = int(input('enter the no. of tupels : '))
for i in range(0,n):
    t += (int(input('enter the element: ')),)
t

enter the no. of tupels :  5
enter the element:  4
enter the element:  6
enter the element:  8
enter the element:  2
enter the element:  3

(4, 6, 8, 2, 3)

In [8]:
#43. Swap two elements in a tuple.

In [14]:
t = (4, 6, 8, 2, 3) 
l = list(t)
l[0],l[3] = l[3],l[0]
tuple(l)

(2, 6, 8, 4, 3)

In [13]:
#44. Reverse the elements of a tuple.

In [15]:
t = (1,2,3,4,5)
t[::-1]

(5, 4, 3, 2, 1)

In [16]:
#45. Create a tuple of the first `n` powers of 2.

In [20]:
t = ()
n = int(input('enter the no. of tupels : '))
for i in range(0,n):
    t += (i**2,)
t

enter the no. of tupels :  5

(0, 1, 4, 9, 16)

In [21]:
#46. Find the longest string in a tuple of strings.

In [22]:
t = ('animal','birds','raptiles')
max(t,key = len)

'raptiles'

In [23]:
#47. Find the shortest string in a tuple of strings.

In [24]:
t = ('animal','birds','raptiles')
min(t,key = len)

'birds'

In [25]:
#48. Create a tuple of the first `n` triangular numbers.

In [28]:
t = ()
step = 0
n = int(input('enter the no. of tupels : '))

for i in range (0,n+1):
    step += i
    t += (step,)
t

enter the no. of tupels :  6

(0, 1, 3, 6, 10, 15, 21)

In [ ]:
# 49 to ask

In [29]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [8]:
a=(1,0)
n=int(input("enter the no. of element "))
if(n%2==0):
  print(a*(n//2))
else:
  x=a*((n-1)//2)
  x+=(1,)
  print(x)

enter the no. of element  5

(1, 0, 1, 0, 1)

In [31]:

## SETS..##

In [32]:
#1. Create a set with integers from 1 to 5.

In [3]:
s = set()
for i in range(0,5):
    s.add(i)
s

{0, 1, 2, 3, 4}

In [4]:
#2. Add an element to a set.

In [6]:
s = {0, 1, 2, 3, 4}
s.add(5)
s

{0, 1, 2, 3, 4, 5}

In [7]:
#3. Remove an element from a set.

In [10]:
s = {0, 1, 2, 3, 4}
s.remove(3)
s

{0, 1, 2, 4}

In [11]:
#4. Check if an element exists in a set.

In [13]:
s = {0, 1, 2, 3, 4}
item = int(input('enter the element: '))
if item in s:
    print(f'element {item} is in set {s} ')
else:
    print('not inside set')

enter the element:  5

not inside set

In [14]:
s = {0, 1, 2, 3, 4}
item = int(input('enter the element: '))
if item in s:
    print(f'element {item} is in set {s} ')
else:
    print('not inside set')

enter the element:  2

element 2 is in set {0, 1, 2, 3, 4}

In [15]:
#5. Find the length of a set without using the `len()` function.

In [16]:
s = {0, 1, 2, 3, 4}
length = 0
for i in s:
    length += 1
length

5

In [17]:
#6. Clear all elements from a set.

In [18]:
s = {0, 1, 2, 3, 4}
s.clear()
s

set()

In [19]:
#7. Create a set of even numbers from 1 to 10.

In [20]:
s = set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
s

{2, 4, 6, 8, 10}

In [21]:
#8. Create a set of odd numbers from 1 to 10.

In [22]:
s = set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
s

{1, 3, 5, 7, 9}

In [23]:
#9. Find the union of two sets.

In [24]:
s= {1,2,3}
s1 = {4,5,6}
s.union(s1)

{1, 2, 3, 4, 5, 6}

In [25]:
#10. Find the intersection of two sets.

In [26]:
s= {1,2,3,4}
s1 = {4,5,6}
s.intersection(s1)

{4}

In [27]:
#11. Find the difference between two sets.

In [29]:
s= {1,2,3,4,5}
s1 = {4,5,6}
s.difference(s1)

{1, 2, 3}

In [30]:
#12. Check if a set is a subset of another set.

In [33]:
s= {1,2,3,4,5}
s1 = {4,5}
s1.issubset(s)

True

In [34]:
#13. Check if a set is a superset of another set.

In [35]:
s= {1,2,3,4,5}
s1 = {4,5}
s.issuperset(s1)

True

In [36]:
#14. Create a set from a list.

In [37]:
l = [1,2,3,4,5,6]
s = set(l)
s

{1, 2, 3, 4, 5, 6}

In [38]:
#15. Convert a set to a list.

In [39]:
s = {1, 2, 3, 4, 5, 6}
l = list(s)
l

[1, 2, 3, 4, 5, 6]

In [40]:
#16. Remove a random element from a set.

In [41]:
s = {1, 2, 3, 4, 5, 6}
n = int(input('enter any random integer: '))
s.remove(n)
s

enter any random integer:  5

{1, 2, 3, 4, 6}

In [42]:
#17. Pop an element from a set.

In [43]:
s = {1, 2, 3, 4, 5, 6}
s.pop()

1

In [44]:
#18. Check if two sets have no elements in common.

In [49]:
s = {1, 2, 3, 4, 5, 6}
s1 = {7,8,9}
s.intersection(s1)

set()

In [50]:
#19. Find the symmetric difference between two sets.

In [52]:
s = {1, 2, 3, 4, 5, 6}
s1 = {6,7,8,9}
s.symmetric_difference(s1)

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
#20. Update a set with elements from another set.

In [51]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
## TO BE  CONTINUED......

In [ ]:
#21. Create a set of the first 5 prime numbers.

In [5]:
s = set()
for i in range(2,50):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    s.add(i)
  if len(s)==5:
    break
print(s)

{2, 3, 5, 7, 11}

In [ ]:
#22. Check if two sets are identical.

In [7]:
s={1,2,3,4}
s1={1,2,4,3}
if s==s1:
  print("two sets are identical")
else:
  print("two sets are not identical")

two sets are identical

In [ ]:
#23. Create a frozen set.

In [10]:
s={1,2,3,4,5}
print(frozenset(a))   
#frozenset({1, 2, 3, 4, 5})

frozenset({1, 2, 3, 4, 5})

In [11]:
#24. Check if a set is disjoint with another set.

In [13]:
s ={1,2,3,4,5}
s1 = {6,7,8}
s.isdisjoint(s1)

True

In [14]:
s ={1,2,3,4,5}
s1 = {5,6,7,8}
s.isdisjoint(s1)

False

In [15]:
#25. Create a set of squares of numbers from 1 to 5.

In [16]:
s = set()
for i in range(0,6):
    s.add(i**2)
s

{0, 1, 4, 9, 16, 25}

In [17]:
#26. Filter out all even numbers from a set.

In [19]:
s = {1,2,3,4,5,6,7,8,9}
for i in s:
    if i%2==0:
        print(i,end=' ')

2 4 6 8

In [20]:
# 27. Multiply all elements in a set by 2.

In [22]:
s = {1,2,3,4,5,6,7,8,9}
s1 = set()
for i in s:
    s1.add(i*2)
s1

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [23]:
#28. Create a set of random numbers.

In [24]:
import random
s = set()
for i in range(0,11):
    s.add(random.randint(0,50))
s

{6, 9, 14, 15, 20, 22, 30, 31, 34, 41}

In [25]:
#29. Check if a set is empty.

In [26]:
s = set()
if s == set():
    print('empty')
else:print('not empty')

empty

In [27]:
#30. Create a nested set (hint: use frozenset).

In [33]:
s1=frozenset({1,2,3,4})
s2=frozenset({5,6,7,8})
s = set()
s.add(s1)
s.add(s2)
print(s)

{frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7})}

In [34]:
#31. Remove an element from a set using the discard method.

In [36]:
s = {1,2,3,4,5,6,7,8,9}
s.discard(9)
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
#32. Compare two sets

In [38]:
s ={1,2,3}
s1 = {1,2,3}
if s == s1:
    print('equal')
else:print('not equal')

equal

In [39]:
#33. Create a set from a string.

In [42]:
str = 'ajay'
print(set(str))

{'y', 'a', 'j'}

In [43]:
#34. Convert a set of strings to a set of integers.

In [44]:
s = {'1','2','3'}
s1 = set()
for i in s:
    s1.add(int(i))
s1

{1, 2, 3}

In [45]:
#35. Convert a set of integers to a set of strings.

In [1]:
s = {1, 2, 3}
s1 = set()
for i in s:
    s1.add(str(i))
s1

{'1', '2', '3'}

In [2]:
#36. Create a set from a tuple.

In [3]:
t = (1,2,3,4)
s = set(t)
s

{1, 2, 3, 4}

In [4]:
#37. Convert a set to a tuple.

In [6]:
s ={1,2,3,4,5}
t = tuple(s)
t

(1, 2, 3, 4, 5)

In [7]:
#38. Find the maximum value in a set.

In [8]:
s ={1,2,3,4,5}
max(s)

5

In [9]:
#39. Find the minimum value in a set.

In [10]:
s ={1,2,3,4,5}
min(s)

1

In [11]:
#40. Create a set from user input.

In [12]:
s =set()
for i in range(0,5):
    s.add(int(input()))
s

 5
 7
 8
 6
 1

{1, 5, 6, 7, 8}

In [13]:
#41. Check if the intersection of two sets is empty.

In [15]:
s1 = {1, 5, 6, 7, 8}
s2 = {33,22,65,9,0}
s = s1.intersection(s2)
if s == set():
    print('empty')
else:print('not empty')

empty

In [16]:
#42. Create a set of the first 5 Fibonacci numbers.

In [24]:
s=set()
x=0
y=1
s={x,y}
for i in range(1,10):
  f=x+y
  x=y
  y=f
  s.add(f)
  if len(s)==5:
    break
print(s)

{0, 1, 2, 3, 5}

In [26]:
#43. Remove duplicates from a list using sets.

In [27]:
l = [2,4,2,6,8,3,2]
set(l)

{2, 3, 4, 6, 8}

In [28]:
#44. Check if two sets have the same elements, regardless of their count.

In [29]:
s1={1,2,3,4,3,2,1,5,2}
s2={1,2,3,4,5,9,2}
s1.intersection(s2)

{1, 2, 3, 4, 5}

In [ ]:
#45. Create a set of the first `n` powers of 2.

In [31]:
s=set()
n=int(input("enter the no. : "))
for i in range(1,n+1):
  s.add(i**2)
print(s)

enter the no. :  6

{1, 4, 36, 9, 16, 25}

In [ ]:
#46. Find the common elements between a set and a list.

In [32]:
l=[1,2,3,4,5,6,5,4,3]
s={2,3,4,5,2,6,7}
print(set(l).intersection(s))

{2, 3, 4, 5, 6}

In [ ]:
#47.Create a set of the first n triangular numbers.

In [37]:

s=set()
n=int(input("enter the no. of element"))
step=0
for i in range(0,n+1):
  step+=i
  s.add(step)
print(s)

enter the no. of element 5

{0, 1, 3, 6, 10, 15}

In [38]:
#48. Check if a set contains another set as a subset.

In [40]:
s ={0, 1, 3, 6, 10, 15}
s1 = {1,0,3}
s1.issubset(s)

True

In [43]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
# can not do this in set because of repe

In [41]:
#50. Merge multiple sets into one.

In [42]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {4,5,6}
s1.union(s2).union(s3)

{1, 2, 3, 4, 5, 6}